.profile {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #123c69;
  border-radius: 16px;
  margin-bottom: 80px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #123c69;
  padding: 20px;
}

.img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #116466;
  margin-bottom: 20px;
}

.name {
  font-size: 36px;
  font-weight: 600;
}

.info {
  color: grey;
  margin-bottom: 8px;
  color: #18508b;
}

.list {
  display: flex;
  justify-content: space-around;
  background-color: #b0637d;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.listItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: 10px;
}

.listItem:not(:last-child) {
  border-right: 3px solid #123c69;
}

.stats {
  margin-bottom: 12px;
}

.statsCounter {
  font-weight: 600;
}
