.item {
  border: 3px solid #123c69;
  border-radius: 16px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}

.image {
  margin-bottom: 20px;
}

.name {
  font-weight: 600;
}

.green {
  color: #116466;
}

.red {
  color: #ac3b61;
}

.status {
  font-size: 18px;
}
