.title {
  text-align: center;
  font-size: 48px;
}

.text:last-child {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  width: 720px;
}

.span {
  width: 600px;
  height: 5px;
  background-color: #ffffff87;
  margin: 40px auto;
}
