.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  justify-content: center;
  border: 5px solid #ffffff87;
  padding: 20px;
  border-radius: 16px;
}

.container > li {
  font-size: 18px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px
    rgba(0, 0, 0, 0.4);
  background-color: #ffffffcd;
  text-align: center;
  width: 180px;
}

.container > li.good {
  background-color: #6edd739e;
}

.container > li.neutral {
  background-color: #f2f680a3;
}

.container > li.bad {
  background-color: #fc896fa4;
}
